.tab-body
{
    display: flex;
    height: 340px;
    width: 487.5px;
    margin: -10px 0px;
}
.tab-body > div
{
    background-image: url(../assets/images/gui/inventory/panel.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 10px 18px 16px 20px;
    z-index: 0;
}

/* ======================================= Header ======================================= */
.tab-header
{
    display: flex;
    height: auto;
    justify-content: space-between;
}

.tab-title
{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 32px;
}

.tab-search
{
    border: none;
    background: transparent;
    outline: none;
    border-image: url(../assets/images/gui/inventory/search.png) 2 fill / 3px stretch;
    padding: 0 6px;
    margin-right: 44px;
    height: 30px;
    width: 226px;
}

/* ======================================= Content ======================================= */
.tab-content
{
    display: flex;
    justify-content: space-between;
    height: 280px;
}

.tab-button-set
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-hotbar
{
    display: flex;
}

.tab-row
{
    display: flex;
}

.tab-scroll-bar
{
    border-image: url(../assets/images/gui/inventory/scroll_bar.png) 2 fill / 3px stretch;
    width: 34px;
}

/* ======================================= List ======================================= */
.tab-list
{
    display: flex;
    width: 487.5px;
    justify-content: space-between;
}
.tab-list > ul
{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.tab-list li.active
{
    z-index: 1;
}

/* ======================================= Button ======================================= */
.tab-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 80px;
}
.tab-button > img
{
    width: 40px;
}

[data-tooltip="desc.tab.top.1"]
{
    border-image: url(../assets/images/gui/inventory/top_unselected_1.png) 8 fill / 10px stretch;
    padding-top: 4px;
}
[data-tooltip="desc.tab.top.2"]
{
    border-image: url(../assets/images/gui/inventory/top_unselected_2.png) 8 fill / 10px stretch;
    padding-top: 4px;
}
[data-tooltip="desc.tab.top.3"]
{
    border-image: url(../assets/images/gui/inventory/top_unselected_3.png) 8 fill / 10px stretch;
    padding-top: 4px;
}
[data-tooltip="desc.tab.top.4"]
{
    border-image: url(../assets/images/gui/inventory/top_unselected_4.png) 8 fill / 10px stretch;
    padding-top: 4px;
}
[data-tooltip="desc.tab.top.5"]
{
    border-image: url(../assets/images/gui/inventory/top_unselected_5.png) 8 fill / 10px stretch;
    padding-top: 4px;
}
[data-tooltip="desc.tab.top.6"]
{
    border-image: url(../assets/images/gui/inventory/top_unselected_6.png) 8 fill / 10px stretch;
    padding-top: 4px;
}
[data-tooltip="desc.tab.top.7"]
{
    border-image: url(../assets/images/gui/inventory/top_unselected_7.png) 8 fill / 10px stretch;
    padding-top: 4px;
}
[data-tooltip="desc.tab.bottom.1"]
{
    border-image: url(../assets/images/gui/inventory/bottom_unselected_1.png) 8 fill / 10px stretch;
    padding-bottom: 4px;
}
[data-tooltip="desc.tab.bottom.2"]
{
    border-image: url(../assets/images/gui/inventory/bottom_unselected_2.png) 8 fill / 10px stretch;
    padding-bottom: 4px;
}
[data-tooltip="desc.tab.bottom.3"]
{
    border-image: url(../assets/images/gui/inventory/bottom_unselected_3.png) 8 fill / 10px stretch;
    padding-bottom: 4px;
}
[data-tooltip="desc.tab.bottom.4"]
{
    border-image: url(../assets/images/gui/inventory/bottom_unselected_4.png) 8 fill / 10px stretch;
    padding-bottom: 4px;
}
[data-tooltip="desc.tab.bottom.5"]
{
    border-image: url(../assets/images/gui/inventory/bottom_unselected_5.png) 8 fill / 10px stretch;
    padding-bottom: 4px;
}
[data-tooltip="desc.tab.bottom.6"]
{
    border-image: url(../assets/images/gui/inventory/bottom_unselected_6.png) 8 fill / 10px stretch;
    padding-bottom: 4px;
}
[data-tooltip="desc.tab.bottom.7"]
{
    border-image: url(../assets/images/gui/inventory/bottom_unselected_7.png) 8 fill / 10px stretch;
    padding-bottom: 4px;
}
[data-tooltip="desc.tab.top.1"].active
{
    border-image: url(../assets/images/gui/inventory/top_selected_1.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.top.2"].active
{
    border-image: url(../assets/images/gui/inventory/top_selected_2.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.top.3"].active
{
    border-image: url(../assets/images/gui/inventory/top_selected_3.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.top.4"].active
{
    border-image: url(../assets/images/gui/inventory/top_selected_4.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.top.5"].active
{
    border-image: url(../assets/images/gui/inventory/top_selected_5.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.top.6"].active
{
    border-image: url(../assets/images/gui/inventory/top_selected_6.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.top.7"].active
{
    border-image: url(../assets/images/gui/inventory/top_selected_7.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.bottom.1"].active
{
    border-image: url(../assets/images/gui/inventory/bottom_selected_1.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.bottom.2"].active
{
    border-image: url(../assets/images/gui/inventory/bottom_selected_2.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.bottom.3"].active
{
    border-image: url(../assets/images/gui/inventory/bottom_selected_3.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.bottom.4"].active
{
    border-image: url(../assets/images/gui/inventory/bottom_selected_4.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.bottom.5"].active
{
    border-image: url(../assets/images/gui/inventory/bottom_selected_5.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.bottom.6"].active
{
    border-image: url(../assets/images/gui/inventory/bottom_selected_6.png) 8 fill / 10px stretch;
}
[data-tooltip="desc.tab.bottom.7"].active
{
    border-image: url(../assets/images/gui/inventory/bottom_selected_7.png) 8 fill / 10px stretch;
}