@font-face {
    font-family: 'Minecraft';
    src: url(res/fonts/Minecraft-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url(res/fonts/Minecraft-Bold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url(res/fonts/Minecraft-Italic.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Minecraft';
    src: url(res/fonts/Minecraft-BoldItalic.otf) format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Minecraft AE';
    src: url(res/fonts/Minecraft-AE.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--display-color);
    font-family: 'Minecraft', 'Minecraft AE', sans-serif;
    font-style: normal;
    font-size: 20px;
}
:root {
  --app-bg: #e5f6ff;
  --header-bg: #66ccff40;
  --app-bg-img: url('res/images/background_light.png');
  --display-color: #222;
}

body.dark-mode {
  --app-bg: #5e0808;
  --header-bg: #ef444440;
  --app-bg-img: url('res/images/background_dark.png');
  --display-color: #eee;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: var(--app-bg);
  background-image: var(--app-bg-img);
  background-size: cover;
  background-repeat: no-repeat;
}
#app:hover {
    cursor: url(res/images/gui/cursor.png), auto;
}

#header {
    width: 100%;
    height: 60px;
    background-color: var(--header-bg);
    border-image: url(res/images/gui/header_separator.png) 0 0 2 0 fill / 0px 0px 4px 0px stretch;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hide {
  display: none !important;
}

.game-button {
    height: 50px;
    min-width: 50px;
    align-items: center;
    justify-content: center;
    border-image: url(res/images/gui/widget/button.png) 2 2 3 2 fill / 5px 5px 7.5px 5px stretch;
    font-size: 16px;
    padding: 8px;
    color: white;
    text-shadow: 2px 2px #00000047;
}
.game-button:hover {
    border-image: url(res/images/gui/widget/button_highlighted.png) 2 2 3 2 fill / 5px 5px 7.5px 5px stretch;
}
.game-button:active {
    border-image: url(res/images/gui/widget/button_pressed.png) 2 2 3 2 fill / 5px 5px 7.5px 5px stretch;
}
.game-button:disabled {
    border-image: url(res/images/gui/widget/button_disabled.png) 2 2 3 2 fill / 5px 5px 7.5px 5px stretch;
}

.header-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

.left-entry {
    width: 15%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.left-entry img {
    display: block;
    width: 100%;
}

.right-entry li {
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-size: 16px;
}
.right-entry button {
    align-items: center;
    border: none;
    background: transparent;
    margin-right: 4px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.dropdown-menu {
    background-color: var(--dropdown-menu-bgc, #fff);
    position: absolute;
    z-index: 1;
}
.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: currentColor;
}